# requirements.txt
streamlit
python-dotenv
langchain
langchain-community
langchain-openai
openai
sentence-transformers
transformers
torch
faiss-cpu
spacy
numpy
huggingface-hub
pypdf
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
langchain-google-genai
google-generativeai
streamlit-elements
pydantic